.user-item-container-inactive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto";
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 7px;
}
.user-item-container-active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto";
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 7px;
  background-color: #bfbfbf;
}
.user-checkbox {
  margin-right: 20px;
}
.user-name {
  width: 20%;
  font-size: 20px;
}
.user-email {
  width: 40%;
  font-size: 20px;
}
.user-role {
  width: 15%;
  font-size: 20px;
}
.user-action-container {
  width: 15%;
}
.edit-button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
.edit-icon {
  font-size: 20px;
  color: blue;
  margin-right: 7px;
}
.delete-button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
.delete-icon {
  font-size: 20px;
  color: red;
}

.name-input {
  width: 25%;
  height: 30px;
}
.email-input {
  width: 40%;
  height: 30px;
}
.role-input {
  width: 15%;
  height: 30px;
}
.save-button-container {
  width: 15%;
}
.save-button {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: lawngreen;
  cursor: pointer;
  outline: none;
  height: 30px;
}
