@media screen and (max-width: 800px) {
  .App {
    display: none;
  }
  .mobile-view {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 800px) {
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .mobile-view {
    display: none;
  }
}
.mobile-view-text {
  font-size: 25px;
  color: #e65137;
  font-family: "Roboto";
  text-align: center;
}
.app-responsive-container {
  width: 80%;
}
.search-bar {
  width: 100%;
  padding: 5px;
}
.users-list-container {
  list-style-type: none;
  padding-left: 0;
}
.list-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-header-checkbox {
  margin-right: 20px;
}
.all-select-label {
  display: none;
}
.list-header-name {
  font-size: 24px;
  width: 20%;
}
.list-header-email {
  font-size: 24px;
  width: 40%;
}
.list-header-role {
  font-size: 24px;
  width: 15%;
}
.list-header-actions {
  font-size: 24px;
  width: 15%;
}

.navigation-delete-container {
  display: flex;
  align-items: center;
}
.delete-select-button-container {
  width: 40%;
}
.delete-select-button {
  width: 180px;
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: rebeccapurple;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}
.navigation-container {
  display: flex;
  align-items: center;
}
.active-page {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
}
.next-page-button {
  background-color: lightskyblue;
  border-radius: 45px;
  margin-right: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  height: 45px;
  width: 45px;
}
.next-page {
  font-size: 30px;
}
.previous-page-button {
  background-color: lightskyblue;
  border-radius: 45px;
  margin-left: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  height: 45px;
  width: 45px;
}
.previous-page {
  font-size: 30px;
}
.first-page-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: lightgrey;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}
.first-page {
  font-size: 30px;
}
.last-page-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: lightgray;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}
.last-page {
  font-size: 30px;
}
.no-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.no-user-text {
  font-size: 30px;
  font-family: "Roboto";
}
